@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Overlock+SC&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: "Chelsea Market", cursive; */
  /* font-family: 'Overlock SC', cursive; */
}
body {
  position: relative;
}

/* #c33764 → #1d2671 */
$color_1: #020024;
$color_2: #090979;
$color_3: #00d4ff;
$color_4: #fefefe;
$color_5: #d3d3d3;
$color_6: #fefefe;
$color_7: #00d4ff;
$color_8: #090979;
// @function fontChanger($a) {
//   @return ($a)/40;
// }
// @mixin flexBOX($flex-dir, $horizonal, $vertical, $scale) {
//   display: flex;
//   flex-direction: $flex-dir;
//   justify-content: $horizonal;
//   align-items: $vertical;
//   transition: 0.3s;
//   &:hover {
//     color: blue;
//     transform: scale($scale);
//   }
// }
